 <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
      <div class="loader">
          <div class="loader__figure"></div>
          <p class="loader__label">Admin Pro</p>
      </div>
  </div>

  <div>
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <app-breadcrumbs></app-breadcrumbs>
    <app-dashboard></app-dashboard>
    <app-footer></app-footer>
    <app-login></app-login>
    <app-register></app-register>
    <app-notfound></app-notfound>
    <router-outlet></router-outlet>
  </div>
